.karaokeWrapper {
  width: 100vw;
  height: 200vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
}

.karaokeHeader {
  width: 100%;
  height: 20%;
  background-color: #d70c7a;
  display: flex;
  align-items: center;
  justify-content: center;
}




.songWrapper {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  padding-top: 2vh;
  height: fit-content;
  width: 100%;
  background-color: hotpink;;
  flex-direction: column;
}

.karaokeSongs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: fit-content;
  width: 100%;
  /* padding-top: 3vh; */
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(238,155,176,1) 100%);
  /* flex-direction: column; */
}

.karaokeSong {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
  /* padding-top: 3vh; */
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(238,155,176,1) 100%);
  /* flex-direction: column; */
}

.karaokeCard {

  /* justify-content: center; */
  /* align-items: center; */
  height: 45vh;
  width: 70%;
  margin-bottom: 1vh;
  background-color: #222725;
}

.karaokeCard h1 {
  color: white;
}

.karaokeCard img {
  width: 95%;
  padding: 1vh;

}

.songBox {
  height: 100vh;
  width: 100vw;
}

.tester {
  width: 100vw;
  height: 20vh;
  margin-top: 10vh;
}

@media screen and (orientation: landscape) {
  * {
    overflow: hidden;
  }
  .vibeCheck {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
  }

  .appen {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  .vibeCheck {
    display: none;
  }
}